form {
  color: white;
  text-shadow: 1px 1px 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
form .formfield:first-of-type {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
form .radios {
  background-color: rgb(238, 213, 255);
  padding: 10px;
  border: 2px solid rgb(192, 235, 252);
  border-radius: 5px;
}
form .radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
form .custom-playlist {
  transform-origin: top center;
  transform: scaleY(0);
  transition: transform 80ms;
}
form button {
  color: white;
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  background-color: rgb(98, 237, 255);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0 rgb(0, 0, 70);
  cursor: pointer;
}
form button:hover {
  box-shadow: none;
  background-color: rgb(22, 108, 165);
}
form button:active {
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.gamemode label {
  line-height: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #450ad1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #450ad1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@font-face {
  font-family: "Allerta";
  src: url(../fonts/Allerta-Regular.ttf);
}
body {
  position: relative;
  font-family: "Allerta";
  margin: 0;
  background-image: linear-gradient(to bottom, #baa2d7, #2c2041);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body h1 {
  margin: 0;
  font-size: 3.5rem;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 4px 0 #31004d;
}
body h2 {
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #31004d;
}
body #result {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 4px 0 #31004d;
}
body #score {
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
}
body #back {
  position: absolute;
  top: 25px;
  left: 25px;
}
body #back i {
  font-size: 3em;
  color: rgb(72, 14, 138);
}

.songs {
  margin-top: 50px;
  width: fit-content;
  height: fit-content;
  display: none;
  flex-direction: row;
  gap: 50px;
}

.song-second, .song-first {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  max-width: 430px;
  border-radius: 15px;
  color: white;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.song-second:hover, .song-first:hover {
  box-shadow: 0 0 10px white;
}
.song-second .info, .song-first .info {
  text-align: center;
  margin-bottom: 5px;
}
.song-second .albumCover, .song-first .albumCover {
  width: 80%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.song-second .title, .song-first .title {
  margin: 0;
  font-size: 32px;
}
.song-second .artist, .song-first .artist {
  margin: 0;
  font-size: 18px;
}
.song-second .progress, .song-first .progress {
  margin-top: auto;
}
.song-second .duration, .song-first .duration {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.song-second .duration p, .song-first .duration p {
  margin: 0;
}

.song-first {
  background-image: linear-gradient(to bottom, #3cbc62, #051225);
}

.song-second {
  background-image: linear-gradient(to bottom, #3dc6d5, #061b2c);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#game-over {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

#game-over-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 200px;
  background-color: rgb(255, 246, 222);
}
#game-over-message h2 {
  margin: 0;
}
#game-over-message #final-score {
  margin: 0;
}
#game-over-message button {
  height: 30px;
  width: 100px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  background-color: #baa2d7;
  border: none;
  border-radius: 5px;
}
#game-over-message button:hover {
  background-color: #8d69b9;
}

.error {
  color: rgb(156, 0, 0);
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
