@use './modules/landingPage.scss';
@use './modules/toggle.scss';

@font-face {
    font-family: "Allerta";
    src: url(../fonts/Allerta-Regular.ttf);
}
body{
    position: relative;
    font-family: "Allerta";
    margin: 0;
    background: {
        image: linear-gradient(to bottom, #baa2d7, #2c2041);
        repeat: no-repeat;
    } 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        margin: 0;
        font-size: 3.5rem;
        color: white;
        text-transform: uppercase;
        text-shadow: 2px 4px 0 #31004d;
    }
    h2{
        color: white;
        text-transform: uppercase;
        text-shadow: 2px 2px 0 #31004d;
    }
    #result{
        margin: {
            top:25px;
            bottom:0px;
        }
        font-size: 2.5rem;
        color: white;
        text-transform: uppercase;
        text-shadow: 2px 4px 0 #31004d;
    }
    #score{
        color: white;
        text-shadow: 1px 1px 2px black;
        margin: 0;
    }
    #back{
        position: absolute;
        top: 25px;
        left: 25px;

        i{
            font-size: 3em;
            color: rgb(72, 14, 138)
        }
    }
}
.songs{
    margin-top: 50px;
    width: fit-content;
    height: fit-content;
    display: none;
    flex-direction: row;
    gap: 50px;
}
%song{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    max-width: 430px;
    border-radius: 15px;
    color: white;
    box-shadow: 4px 4px 5px rgba(00, 00, 00, 0.3);
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 10px white;
    }
    .info{
        text-align: center;
        margin-bottom: 5px;
    }
    .albumCover{
        width: 80%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    .title{
        margin: 0;
        font-size: 32px;
    }
    .artist{
        margin: 0;
        font-size: 18px
    }
    .progress{
        margin-top: auto;
    }
    .duration{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
            margin: 0;
        }
    }
}

.song-first{
    @extend %song;
    background-image: linear-gradient(to bottom, #3cbc62, #051225);
}

.song-second{
    @extend %song;
    background-image: linear-gradient(to bottom, #3dc6d5, #061b2c);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

#game-over{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}
#game-over-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 200px;
    background-color: rgb(255, 246, 222);
    h2{
        margin: 0;
    }
    #final-score{
        margin: 0
    }
    button{
        height: 30px;
        width: 100px;
        cursor: pointer;
        font-size: 1em;
        color: white;
        background-color: #baa2d7;
        border: none;
        border-radius: 5px;

        &:hover{
            background-color: #8d69b9;
        }
    }
}

.error{
    color: rgb(156, 0, 0);
    margin: 0;
}